<header class="header">
  <div class="container-fluid header__container">
    <a class="logo" href="#">
      <img
        loading="lazy"
        src="img/logo.svg"
        class="image"
        width=""
        height=""
        alt=""
      />
    </a>

    <nav class="nav" title="Главное меню">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#about" class="nav__link">О школе</a>
        </li>
        <li class="nav__item">
          <a href="#trainers" class="nav__link">Тренеры</a>
        </li>
        <li class="nav__item">
          <a href="#tariffs" class="nav__link">Стоимость</a>
        </li>
      </ul>
      <button class="btn-reset burger-close"></button>
    </nav>

    <a class="phone header__phone" href="tel:+79602831991">+7 960 283 19 91</a>
    <button
      class="btn-reset burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
